version: '3'

services:
  # human-pose-estimation
  model_human_pose:
    image: openvino/model_server:latest
    restart: unless-stopped
    ports:
      - '9000:9000'
    volumes:
      - ./models/human-pose-estimation:/models/human-pose-estimation
    command: '/ovms/bin/ovms --model_path /models/human-pose-estimation --model_name human-pose-estimation --port 9000 --log_level INFO --shape auto --grpc_workers 2'
    networks:
      - model_server
  # handwritten-japanese-recognition
  handwritten:
    image: openvino/model_server:latest
    restart: unless-stopped
    ports:
      - '9001:9001'
    volumes:
      - ./models/handwritten-japanese-recognition:/models/handwritten-japanese-recognition
    command: '/ovms/bin/ovms --model_path /models/handwritten-japanese-recognition --model_name handwritten-japanese-recognition --port 9001 --log_level INFO --shape auto --grpc_workers 2'
    networks:
      - model_server
  # handwritten-japanese-recognition
  colorization:
    image: openvino/model_server:2021.1
    restart: unless-stopped
    ports:
      - '9002:9002'
    volumes:
      - ./models/colorization-v2:/models/colorization-v2
    command: '/ovms/bin/ovms --model_path /models/colorization-v2 --model_name colorization --port 9002 --log_level INFO --shape auto --grpc_workers 2'
    networks:
      - model_server

networks:
  model_server:
    driver: bridge
